

<h1>About the Demo</h1>

<section>
  <p>
    This demo is developed using <a href="https://angular.io">Angular</a> and
    <a href="https://www.tensorflow.org/js">TensorFlow.js</a>.
  </p>

  <p>
    The project is using the
    <a href="https://github.com/tensorflow/tfjs-models"
      >Mobilenet</a
    >
    model to classify images and their features. After that, we pass the output
    to emit it via a BehaviorSubject. A component, subscribed to the BehaviorSubject processes the user action.
  </p>
</section>

<app-mobilenet></app-mobilenet>